DEBUG=1
SECRET_KEY=57341c326b1a6763eca1f54206822cf4fbb1e9f05feaf9a835289ef4b399cdcc
DJANGO_ALLOWED_HOSTS=localhost 0.0.0.0 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=vibestocks
SQL_USER=vibestocks
SQL_PASSWORD=vibestocks
SQL_HOST=db
SQL_PORT=5432
